* {
    box-sizing: border-box;
}

h1 {
    color: rgba(21, 18, 204, 0.626);
}
h3 {
    color: rgb(18, 218, 228);
}

header h1 {
    text-align: center;
    font-size: 35px;
}

header {
    padding: 40px;
    background-color: rgb(66, 144, 158);

}

main {
    background-color: rgb(250, 250, 250);
    text-align: center;
}

.column1 {
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(147, 60, 10);
}
.column2 {
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(186, 75, 12);
}
.column3 {
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(221, 91, 15);
}
.column4 {
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgba(232, 126, 64, 0.733);
}

@media screen and (max-width: 1100px) {
    .column1 {
        width: 50%;
    }
    .column2 {
        width: 50%;
    }
    .column3 {
        width: 50%;
    }
    .column4 {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .column3 {
        width: 100%;
    }
    .column4 {
        width: 100%;
    }
}

